<div class="flex bg-gray-100 overflow-hidden" style="max-height: 100vh;">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- Main content area -->
  <div class="flex-1 flex flex-col h-full overflow-auto" style="max-height: 100vh;">
    <div class="sticky top-0" style="z-index: 2;;">
      <app-header></app-header>
      <app-sidebar-horizontal></app-sidebar-horizontal>
    </div>
    <!-- Main content -->
    <main class="flex-1 bg-gray-100 p-6">
      <h2 class="text-2xl font-semibold text-gray-700">Panel de control</h2>
    </main>
    <app-footer></app-footer>
  </div>
</div>
